body{
	font-size: 2.5em;
  	font-family: Helvetica;
  	letter-spacing: 0.1em;
  }

 #container{
 	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	text-align: center; 
	font-size: 1.25em;
	font-family: Georgia;
	font-style: italic;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	letter-spacing: 0.1em;
 }

#breadcrumb{
	font-size: 1.5em;
	text-align: center; 
	font-family: Georgia;
	font-style: italic;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	letter-spacing: 0.1em;
}

a:link{
	text-decoration: none;
	color: rgb(0,0,0);
}

a:visited{
	color : rgb(247, 144, 8);
	text-decoration: none;
}