body{
	margin:0; 	
}
#container{
	width: 100%;
	height: 100%;
	background-color: black;
}

#breadcrumb{
	background-color: black;
	font-size: 2em;
	text-align: center; 
	font-family: Georgia;
	font-style: italic;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	letter-spacing: 0.1em;
}

a:link{
	text-decoration: none;
	color: rgb(255,255,255);
}

a:visited{
	color : rgb(255,255,255);
	text-decoration: none;
}

div#previous{
	width: 10%;
	height: 100%;
	float: left;
	background-color: transparent;
	opacity: 0.1;
}
div#previous:hover{
	opacity: 0.9;
}

#prev-button{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150%;
}

figure#page{
	width : 80%;
	max-width: 80%;
	height: 100%;	
	position: relative;
	float: left;
	background-color: transparent;
	margin: 0;
}

div#next{
	width: 10%;
	height: 100%;
	position: relative; 	
	float:left;
	background-color: transparent;
	opacity: 0.1;
}

div#next:hover{
	opacity: 0.9;
}

#next-button{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150%;
}

#image{
	margin-left: 35%;
	margin-right: auto;
	margin-top: 5%;
	height: 75%;
}

#page figcaption{
	color:white;
	margin-top: 0.5em;
	font-size: 1.5em;
	text-align: center; 
	font-family: Georgia;
	font-style: italic;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	letter-spacing: 0.1em;
}