body{
	font-size: 2.5em;
  	font-family: Helvetica;
  	letter-spacing: 0.1em;
  }
#image{
	width: 400px;
	margin-left: auto;
	margin-right: auto;

}
nav{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	text-align: center; 
	  font-size: 1.25em;
	  font-family: Georgia;
	  font-style: italic;
	  -moz-column-count: 1;
	  -webkit-column-count: 1;
	  column-count: 1;
	  letter-spacing: 0.1em;
}

nav ul{
	list-style: none;

} 
nav ul li{
	padding: 0.1em;
}	

nav a:link{
	text-decoration: none;
	color: rgb(0,0,0);
}

nav a:visited{
	color : rgb(247, 144, 8);
	text-decoration: none;
}

footer{
	bottom: 0px;

}